// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.2
	background: #F8FBFC

// fonts

+font("ProximaNova Semibold", proxima_nova-semibold)
+font("ProximaNova Regular", ProximaNova-Regular)
+font("ProximaNova Bold", ProximaNova-Bold)
+font("AvenirNext Medium", AvenirNext-Medium)
+font("AvenirNext Regular", AvenirNext-Regular)
+font("AvenirNext DemiBold", AvenirNext-DemiBold)
+font("AvenirNext Bold", AvenirNext-Bold)
+font("untitled-font", untitled-font-2)



// vars

=semi
	font-family: "ProximaNova Semibold", Arial, sans-serif 
=reg
	font-family: "ProximaNova Regular", Arial, sans-serif
=bold
	font-family: "ProximaNova Bold", Arial, sans-serif
=anmed
	font-family: "AvenirNext Medium", Arial, sans-serif 
=anreg
	font-family: "AvenirNext Regular", Arial, sans-serif 
=andemi
	font-family: "AvenirNext DemiBold", Arial, sans-serif
=anbold
	font-family: "AvenirNext Bold", Arial, sans-serif
=icon
	font-family: "untitled-font", Arial, sans-serif

=ttu
	text-transform: uppercase
//settings
h1, h2, h3, h4, h5, h6, strong, b
	font-weight: normal
a
	text-decoration: none
	
h3
	+anmed
	font-size: 12px
	+ttu
	letter-spacing: 0.2em 	
//mod
.btn
	+semi
	font-size: 12px
	+ttu
	line-height: 1.2
	color: #F7CE5E
	border: 2px solid #F7CE5E 
	padding: 17px 20px 15px 
	width: 135px
	+box
	display: inline-block
	+border-radius(2.6px)
	background: rgba(255, 255, 255, 0.05) 
	position: relative
	letter-spacing: 0.2em
	&:active
		top: 1px

.form-input
	width: 100%
	padding: 7px 0 
	+box
	border-bottom: 1px solid #EAEAEA
	color: #353458  
	// color: rgba(53, 52, 88, 0.3) 
	+anreg
	font-size: 16px
	letter-spacing: -0.059em 
	+placeholder-color(rgba(53, 52, 88, 0.3))
	background: none
	&.form-input_center
		text-align: center
	&.form-input_up
		+ttu
.form-select
	position: relative
	input
		position: relative
		z-index: 3
	i
		position: absolute
		z-index: 4
		top: 5px
		right: 6px
		+svg(arr-bot-dark, 12, 8) 
		opacity: .4 
		&.is-right
			position: absolute
			top: 3px
			right: 8px
			+svg(select-arr, 8, 13)
			content: "" 
			opacity: .5 
	select
		width: 100%
		height: 37px
		position: absolute
		top: 0
		left: 0
		right: 0
		+opacity(0)
		z-index: 5 
		+anreg
		font-size: 16px
.form-drop
	position: relative
	.form-drop__inner
		position: relative
		i
			position: absolute
			z-index: 4
			top: 5px
			right: 6px
			+svg(arr-bot-dark, 12, 8) 
			+opacity(0.4)	
.form-btn-hide
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 10 
.btn-submit
	width: 100%
	padding: 18px 15px
	+box
	+anreg
	font-size: 12px
	line-height: 1.2
	letter-spacing: 0.2em 
	color: #fff
	background: #00BEBB
	+ttu  
	&.is-disable 
		background: #92C3D1 
.btn-blue	
	+anmed
	font-size: 12px
	line-height: 1.2
	color: #00BEBB 
	border: 2px solid #00BEBB
	+border-radius(4.42px)
	padding: 5px 8px
	display: inline-block 

.btn-white
	display: inline-block
	width: 100%
	max-width: 250px
	background: #fff
	+border-radius(2px)
	+box-shadow(0 2px 1px 0 rgba(0, 0, 0, 0.2))
	color: #00BEBB
	+semi
	font-size: 12px
	+ttu
	padding: 18px 20px 17px
	+box  
	letter-spacing: 0.2em 
	position: relative
	&:active
		top: 1px
		


.link
	+anmed
	font-size: 12px
	line-height: 1.2
	color: #00BEBB 
.text-blue
	+anmed
	font-size: 12px
	line-height: 1.2
	color: #00BEBB 



















































































